:root {
  --main-font: 'Inter', Arial, Helvetica, sans-serif;;
  --accent-font: 'Press Start 2P', fantasy;
  --main-text-weight: 400;
  --header-weight: 700;
  --card-margin: 50px;
  --background-color: #FFFFFF;
  --accent-color: #000000;
  --contour-color:  #000000;
  --main-body-fill: #FF0000;
  --button-color: #FFFFFF;
  --stroke-color: rgb(255,255,255, 0.6);
  --background-image: 
    repeating-linear-gradient(to right,#d3d3d3, #d3d3d3 2px,transparent 2px, transparent 4px),
    repeating-linear-gradient(to bottom,#d3d3d3, #d3d3d3 2px,transparent 2px, transparent 4px),
    repeating-linear-gradient(#e7e7e7, #1a1a1a);
}
 